---
repos:
  - repo: 'https://github.com/ansible/ansible-lint'
    rev: 'v24.7.0'
    hooks:
      - id: 'ansible-lint'
        stages:
          - 'pre-commit'
        additional_dependencies:
          # renovate: datasource=pypi
          - 'ansible-core==2.16.8'
        always_run: true
        description: 'This hook runs ansible-lint.'
        entry: 'python3 -m ansiblelint -v --force-color'
        language: 'python'
        pass_filenames: false
        language_version: '3.12'
...
